/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2018, 10:17:48 AM
    Author     : Turktrust Stajyer
*/

/*Background Pattern
.ui-widget-content {
    background-image: url("topography.png") !important;
}*/

/*Primefaces - Button Styling*/
.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
    border:1px solid #F1F3F5 !important;
    background-color: #c1a3f7 !important;
    height: 28px !important; 
    text-indent: 0.1em !important;
    color: #FFFFFF !important;

    font-size: 12px;
    font-family: "latoregular","Trebuchet MS",Arial,Helvetica,sans-serif;
    /*text-align: left !important;*/ 

    border-radius: 8px;
}

/*Primefaces Panel Header*/
.ui-panel.ui-widget .ui-panel-titlebar.ui-corner-all {
    /*background-color: #A3E3DE !important;*/
    color: #435D5B !important;
    border-width: 0 0 0 0;
    padding: .4em 1em .4em;
}

/*LayoutUnit Font*/
root {
    font-family: "latoregular","Trebuchet MS",Arial,Helvetica,sans-serif;
}
.ui-widget {
    font-family: "latoregular","Trebuchet MS",Arial,Helvetica,sans-serif;
}

/*Side Navigation Menu - Button Width Adjustment*/
.sidebarButton {
    width: 100%; 
}

/*Dashboard Statistics Styling*/
.count {
    font-size: 32px;
    text-align: center;
    color: #915BF1;
    font-weight: bold;
}

.infoText {
    text-align: center;
    font-size: 12px;
    color: #a3a3a3;
    font-weight: 500;
}

.infoImg {
    width: 60px;
    margin-top: 0.3em;
}

/*Active - Inactive Colors*/
.red {
    color: #EB8D7D;
    font-weight: bold;
}
.green {
    color: #7B9EB5;
    font-weight: bold;
}

/*Select Row Background Color*/
.ui-datatable tr.ui-state-highlight {
    background-color: #dac8f9;
    color: #435D5B;
}

/*Grades Coloring*/

.AA {
    color: #7B9EB5;
    font-weight: bold;
    font-size: 12px;
}
.BA {
    color: #899BAE;
    font-weight: bold;
    font-size: 12px;
}
.BB {
    color: #9799A7;
    font-weight: bold;
    font-size: 12px;
}
.CB {
    color: #A597A0;
    font-weight: bold;
    font-size: 12px;
}
.CC {
    color: #B39599;
    font-weight: bold;
    font-size: 12px;
}
.DC {
    color: #C19392;
    font-weight: bold;
    font-size: 12px;
}
.DD {
    color: #CF918B;
    font-weight: bold;
    font-size: 12px;
}
.FD {
    color: #DD8F84;
    font-weight: bold;
    font-size: 12px;
}
.FF {
    color: #EB8D7D;
    font-weight: bold;
    font-size: 12px;
}

/*Primefaces Paginator Active State Coloring*/
.ui-paginator .ui-paginator-page.ui-state-active {
    background-color: #dac8f9;
    color: #435D5B;
    border-color: #F1F3F5;
}

/*W3 Sidemenu*/
html {
    height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    /*background-image: url("../images/memphis.png") !important;*/
    /*background-image: linear-gradient(to right top, #b5e8e1, #b2e5f2, #c0dffb, #d7d7f9, #ecd0eb);*/
}

body .sidemenuDiv ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: #f1f1f1;

}

body .sidemenuDiv ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

body .sidemenuDiv ul li a.active {
    background-color: #a77bf4;
    color: white;
}

body .sidemenuDiv ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
/*W3 Sidemenu End*/

/*W3 Topbar*/
body .topbarDiv ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f6f6f6;
}

body .topbarDiv li {
    float: left;
}

body .topbarDiv li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

body .topbarDiv li a:hover:not(.active) {
    background-color: #F1F1F1;
}

body .topbarDiv .active {
    background-color: #4CAF50;
}
/*W3 Topbar End*/

/*Primefaces Breadcrumb*/
.ui-breadcrumb {
    /*padding: 0px 0px 0px 0px;*/
    border: 0px;
    background-color: #ffffff;
    margin-bottom: 1em;
    color: #99bfb9;
    background: transparent!important;
}

.ui-breadcrumb ul li .ui-menuitem-link {
    font-family: 'latoregular'; 
    text-decoration: none; 
    font-size: 12px;
    /*color: #99bfb9;*/
}

/*Scroll To Top Button*/
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#925bf1;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#dac8f9;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

/*Panel Padding*/
.ui-panel.ui-widget {
    margin-bottom: 15px;
}